In [24]:
import pandas as pd
import numpy as np

In [25]:
df=pd.read_csv('../DataSets/Flights.csv')

In [26]:
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [27]:
df.AIRLINE.unique()

array(['WN', 'UA', 'MQ', 'AA', 'F9', 'EV', 'OO', 'NK', 'US', 'AS', 'DL',
       'VX', 'B6', 'HA'], dtype=object)

In [28]:
df.describe()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
count,58492.000000,58492.000000,58492.000000,58492.000000,57659.000000,57474.000000,58492.000000,58492.000000,57474.000000,58492.000000,58492.000000
mean,6.220646,15.702096,3.926862,1387.984836,10.921192,115.928576,872.900072,1549.399832,5.812315,0.002342,0.015062
std,3.358484,8.760846,1.995777,482.810792,36.146210,71.679591,624.996805,518.599952,38.411948,0.048340,0.121800
min,1.000000,1.000000,1.000000,5.000000,-24.000000,8.000000,67.000000,1.000000,-60.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1000.000000,-4.000000,61.000000,391.000000,1159.000000,-12.000000,0.000000,0.000000
50%,6.000000,16.000000,4.000000,1353.000000,-1.000000,97.000000,690.000000,1603.000000,-4.000000,0.000000,0.000000
75%,9.000000,23.000000,6.000000,1805.000000,10.000000,152.000000,1199.000000,1959.000000,9.000000,0.000000,0.000000
max,12.000000,31.000000,7.000000,2359.000000,1194.000000,577.000000,4502.000000,2359.000000,1185.000000,1.000000,1.000000

In [29]:
df.AIRLINE.value_counts()

AIRLINE
DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: count, dtype: int64

In [46]:
df.groupby('AIRLINE')['WEEKDAY']

In [30]:
df.groupby('AIRLINE')['ARR_DELAY']

In [31]:
df.groupby('AIRLINE')['DEP_DELAY'].sum()

AIRLINE
AA     98648.0
AS      1389.0
B6      7744.0
DL     76502.0
EV     52028.0
F9     18718.0
HA       288.0
MQ     36933.0
NK     29135.0
OO     62399.0
UA    124918.0
US      6952.0
VX      8803.0
WN    105248.0
Name: DEP_DELAY, dtype: float64

In [32]:
df.groupby('AIRLINE')['DEP_DELAY'].mean()

AIRLINE
AA    11.274057
AS     1.808594
B6    14.287823
DL     7.242450
EV     9.092625
F9    14.310398
HA     2.571429
MQ    11.094323
NK    19.514401
OO     9.662279
UA    16.210485
US     4.361355
VX     8.918946
WN    12.639366
Name: DEP_DELAY, dtype: float64

In [33]:
df.AIR_TIME.mean()

115.92857639976337

In [34]:
df[df.AIR_TIME>115]

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
5,1,1,4,UA,IAH,SAN,1450,1.0,178.0,1303,1620,-14.0,0,0
9,1,1,4,UA,IAH,SJC,925,3.0,215.0,1608,1136,-14.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58477,12,31,4,B6,DFW,BOS,1145,12.0,161.0,1562,1608,-14.0,0,0
58481,12,31,4,UA,IAH,LAX,1433,1.0,197.0,1379,1625,-13.0,0,0
58483,12,31,4,B6,PHX,BOS,2236,-12.0,231.0,2300,515,-45.0,0,0
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0

In [35]:
df.DIST.median()

690.0

In [36]:
df[df.DIST>690]

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
5,1,1,4,UA,IAH,SAN,1450,1.0,178.0,1303,1620,-14.0,0,0
9,1,1,4,UA,IAH,SJC,925,3.0,215.0,1608,1136,-14.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58477,12,31,4,B6,DFW,BOS,1145,12.0,161.0,1562,1608,-14.0,0,0
58481,12,31,4,UA,IAH,LAX,1433,1.0,197.0,1379,1625,-13.0,0,0
58483,12,31,4,B6,PHX,BOS,2236,-12.0,231.0,2300,515,-45.0,0,0
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0

In [37]:
df[df.AIRLINE=='AA']

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
6,1,1,4,AA,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
8,1,1,4,AA,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
15,1,1,4,AA,DEN,DFW,1445,-6.0,93.0,641,1745,4.0,0,0
26,1,1,4,AA,LAX,AUS,1430,33.0,157.0,1242,1925,41.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58470,12,31,4,AA,DFW,FAT,1020,-3.0,196.0,1313,1156,-2.0,0,0
58475,12,31,4,AA,IAH,CLT,710,1.0,113.0,912,1037,-12.0,0,0
58476,12,31,4,AA,DFW,TPA,1020,-3.0,121.0,929,1340,-6.0,0,0
58479,12,31,4,AA,DFW,ELP,1200,3.0,94.0,551,1250,13.0,0,0
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0

In [47]:
df.groupby('MONTH')['DIVERTED']

In [48]:
def time(x):
    if x>=1 and x<=400:
        return 'Mid_n'
    elif x>400 and x<=800:
        return 'early_m'
    elif x>800 and x<=1200:
        return 'morning'
    elif x>1200 and x<=1600:
        return 'afternoon'
    elif x>1600 and x<=2000:
        return 'evening'
    else:
        return 'night'

In [49]:
df['Category']=df.SCHED_DEP.apply(time)
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED,Category,price
0,1,1,4,13,5,244,1625,58.0,94.0,590,1905,65.0,0,0,evening,Mid_n
1,1,1,4,10,1,127,823,7.0,154.0,1452,1333,-13.0,0,0,morning,Mid_n
2,1,1,4,7,2,268,1305,36.0,85.0,641,1453,35.0,0,0,afternoon,Mid_n
3,1,1,4,0,2,69,1555,7.0,126.0,1192,1935,-7.0,0,0,afternoon,Mid_n
4,1,1,4,13,5,163,1720,48.0,166.0,1363,2225,39.0,0,0,evening,Mid_n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,0,9,71,515,5.0,166.0,1464,1045,-19.0,0,0,early_m,Mid_n
58488,12,31,4,5,4,237,1910,13.0,71.0,414,2050,4.0,0,0,evening,Mid_n
58489,12,31,4,9,9,231,1846,-6.0,46.0,262,1956,-5.0,0,0,evening,night
58490,12,31,4,13,6,15,525,39.0,124.0,907,855,34.0,0,0,early_m,Mid_n
58491,12,31,4,9,9,30,859,5.0,73.0,522,1146,-1.0,0,0,morning,Mid_n

In [50]:
df['price']=df.DEP_DELAY.apply(time)
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED,Category,price
0,1,1,4,13,5,244,1625,58.0,94.0,590,1905,65.0,0,0,evening,Mid_n
1,1,1,4,10,1,127,823,7.0,154.0,1452,1333,-13.0,0,0,morning,Mid_n
2,1,1,4,7,2,268,1305,36.0,85.0,641,1453,35.0,0,0,afternoon,Mid_n
3,1,1,4,0,2,69,1555,7.0,126.0,1192,1935,-7.0,0,0,afternoon,Mid_n
4,1,1,4,13,5,163,1720,48.0,166.0,1363,2225,39.0,0,0,evening,Mid_n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,0,9,71,515,5.0,166.0,1464,1045,-19.0,0,0,early_m,Mid_n
58488,12,31,4,5,4,237,1910,13.0,71.0,414,2050,4.0,0,0,evening,Mid_n
58489,12,31,4,9,9,231,1846,-6.0,46.0,262,1956,-5.0,0,0,evening,night
58490,12,31,4,13,6,15,525,39.0,124.0,907,855,34.0,0,0,early_m,Mid_n
58491,12,31,4,9,9,30,859,5.0,73.0,522,1146,-1.0,0,0,morning,Mid_n

In [51]:
df.groupby('AIRLINE')['CANCELLED'].sum().nlargest(10)

AIRLINE
0     154
7     152
4     146
9     142
10     93
13     93
3      38
8      25
11     21
5      10
Name: CANCELLED, dtype: int64

In [52]:
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED,Category,price
0,1,1,4,13,5,244,1625,58.0,94.0,590,1905,65.0,0,0,evening,Mid_n
1,1,1,4,10,1,127,823,7.0,154.0,1452,1333,-13.0,0,0,morning,Mid_n
2,1,1,4,7,2,268,1305,36.0,85.0,641,1453,35.0,0,0,afternoon,Mid_n
3,1,1,4,0,2,69,1555,7.0,126.0,1192,1935,-7.0,0,0,afternoon,Mid_n
4,1,1,4,13,5,163,1720,48.0,166.0,1363,2225,39.0,0,0,evening,Mid_n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,0,9,71,515,5.0,166.0,1464,1045,-19.0,0,0,early_m,Mid_n
58488,12,31,4,5,4,237,1910,13.0,71.0,414,2050,4.0,0,0,evening,Mid_n
58489,12,31,4,9,9,231,1846,-6.0,46.0,262,1956,-5.0,0,0,evening,night
58490,12,31,4,13,6,15,525,39.0,124.0,907,855,34.0,0,0,early_m,Mid_n
58491,12,31,4,9,9,30,859,5.0,73.0,522,1146,-1.0,0,0,morning,Mid_n

In [53]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [54]:
df['AIRLINE']=labelencoder.fit_transform(df['AIRLINE'])
df['ORG_AIR']=labelencoder.fit_transform(df['ORG_AIR'])
df['DEST_AIR']=labelencoder.fit_transform(df['DEST_AIR'])
#df['Additional_Info']=labelencoder.fit_transform(df['Additional_Info'])

In [55]:
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED,Category,price
0,1,1,4,13,5,244,1625,58.0,94.0,590,1905,65.0,0,0,evening,Mid_n
1,1,1,4,10,1,127,823,7.0,154.0,1452,1333,-13.0,0,0,morning,Mid_n
2,1,1,4,7,2,268,1305,36.0,85.0,641,1453,35.0,0,0,afternoon,Mid_n
3,1,1,4,0,2,69,1555,7.0,126.0,1192,1935,-7.0,0,0,afternoon,Mid_n
4,1,1,4,13,5,163,1720,48.0,166.0,1363,2225,39.0,0,0,evening,Mid_n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,0,9,71,515,5.0,166.0,1464,1045,-19.0,0,0,early_m,Mid_n
58488,12,31,4,5,4,237,1910,13.0,71.0,414,2050,4.0,0,0,evening,Mid_n
58489,12,31,4,9,9,231,1846,-6.0,46.0,262,1956,-5.0,0,0,evening,night
58490,12,31,4,13,6,15,525,39.0,124.0,907,855,34.0,0,0,early_m,Mid_n
58491,12,31,4,9,9,30,859,5.0,73.0,522,1146,-1.0,0,0,morning,Mid_n

In [56]:
pd.get_dummies(df,columns=["AIRLINE", "ORG_AIR", "DEST_AIR"] ,drop_first = True)

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,...,DEST_AIR_261,DEST_AIR_262,DEST_AIR_263,DEST_AIR_264,DEST_AIR_265,DEST_AIR_266,DEST_AIR_267,DEST_AIR_268,DEST_AIR_269,DEST_AIR_270
0,1,1,4,1625,58.0,94.0,590,1905,65.0,0,...,False,False,False,False,False,False,False,False,False,False
1,1,1,4,823,7.0,154.0,1452,1333,-13.0,0,...,False,False,False,False,False,False,False,False,False,False
2,1,1,4,1305,36.0,85.0,641,1453,35.0,0,...,False,False,False,False,False,False,False,True,False,False
3,1,1,4,1555,7.0,126.0,1192,1935,-7.0,0,...,False,False,False,False,False,False,False,False,False,False
4,1,1,4,1720,48.0,166.0,1363,2225,39.0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,515,5.0,166.0,1464,1045,-19.0,0,...,False,False,False,False,False,False,False,False,False,False
58488,12,31,4,1910,13.0,71.0,414,2050,4.0,0,...,False,False,False,False,False,False,False,False,False,False
58489,12,31,4,1846,-6.0,46.0,262,1956,-5.0,0,...,False,False,False,False,False,False,False,False,False,False
58490,12,31,4,525,39.0,124.0,907,855,34.0,0,...,False,False,False,False,False,False,False,False,False,False
58491,12,31,4,859,5.0,73.0,522,1146,-1.0,0,...,False,False,False,False,False,False,False,False,False,False